.btn_add {
  -fx-background-color: "#fac400";
  -fx-text-fill: White;
  -fx-background-radius: 8px;
  -fx-background-radius: 8px;
}

.btn_mod {
  -fx-background-color: transparent;
  -fx-text-fill: #454545;
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
  -fx-border-color: #454545;
  -fx-border-width: 1.5px;
}

.btn_return {
  -fx-background-color: transparent;
}

.btn_delet {
  -fx-background-color: rgb(255, 67, 67);
  -fx-text-fill: White;
  -fx-background-radius: 8px;
  -fx-background-radius: 8px;
}

.btn_terminer {
  -fx-background-color: rgb(93, 204, 93);
  -fx-text-fill: White;
  -fx-background-radius: 8px;
  -fx-background-radius: 8px;
}
