.leftmenu {
  /* -fx-background-color: "#1D1C21"; */

  -fx-background-color: "#3C4048";
}

.container {
  /* -fx-background-color: "#F8F9FA"; */

  -fx-background-color: "#EAEAEA";
}

.btn_leftmenu {
  /* -fx-background-color: "#1D1C21"; */
  -fx-background-color: "#3C4048";
}

.btn_leftmenu:hover {
  -fx-background-color: #4f5963;
  -fx-border-style: hidden none none solid;
  -fx-border-color: "white";
  -fx-border-width: 2px;
  -fx-text-fill: white;
}

.btn_leftmenu:pressed {
  -fx-background-color: "#495057";
}

.afterpress {
  -fx-background-color: #343a40;
  -fx-border-style: hidden none none solid;
  -fx-border-color: "white";
  -fx-border-width: 2px;
  -fx-text-fill: white;
}
