#btn1 {
 -fx-background-color:  #adb5bd;
}


#btn1:hover{
 -fx-background-color: #dee2e6;
}
#btn2 {
  background-color: aqua;
}

#btn3 {
  background-color: aqua;
}
#btn4 {
  background-color: aqua;
}
#btn5 {
  background-color: aqua;
}
