.leftmenu {
  -fx-background-color: "#1D1C21";
}

.container {
  -fx-background-color: "#F8F9FA";
}

.btn_leftmenu {
  -fx-background-color: "#1D1C21";

  -fx-color: green;
}

.btn_leftmenu:hover {
  -fx-background-color: "#343a40";
-fx-border-style: hidden none none solid;
  -fx-border-color: "white";
  -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-Selection-Fill:"red"
}
.btn_leftmenu:pressed {
  -fx-background-color: "#495057";
}
