/* .inpt {
  -fx-border-width: 0.5;
  -fx-border-color: lightgray;
  -fx-background-color: white;
  -fx-border-color: "#adb5bd";
  -fx-border-radius: 10px;
  -fx-background-raduis: 15px;
  -fx-border-style: hidden none solid none;
}

inpt-focused {
  -fx-border-color: red;
} */

/* .inpt:focused {
  -fx-border-color: #4d90fe;
}

.inpt:hover {
  -fx-border-color: #999;
}  */

/* .inpt {
  -fx-background-color: #f2f2f2;
  -fx-border-width: 1px;
  -fx-border-color: #d9d9d9;
  -fx-border-radius: 3px;
  -fx-font-size: 14px;
  -fx-text-fill: #444;
  -fx-prompt-text-fill: #999;
}

.inpt:focused {
  -fx-border-color: #2196f3;
  -fx-background-color: white;
}

.inpt:hover {
  -fx-border-color: #bbb;
}

.inpt:disabled {
  -fx-opacity: 0.5;
  -fx-text-fill: #888;
} */

.inpt {
  -fx-background-color: transparent;
  -fx-border-width: 1px;
  -fx-border-color: #75777a;
  -fx-border-radius: 5px;
  /* -fx-font-size: 14px; */
  -fx-text-fill: #495057;
  -fx-prompt-text-fill: #868e96;
  /* -fx-padding: 10px; */
}

.inpt:focused {
  /* -fx-border-color: #4aa2ff; */
  -fx-border-color: black;
  -fx-background-color: white;
  -fx-text-fill: #495057;
}

.inpt:hover {
  -fx-border-color: #6c757d;
}

.inpt:disabled {
  -fx-opacity: 0.5;
  -fx-text-fill: #6c757d;
}

.inptempty {
  -fx-border-color: red;
}
