.leftbox {
  /* -fx-background-color: "#706f6f"; */
  /* -fx-background-color: black; */
  -fx-background-color: #3c4048;
}

.rightbox {
  /* -fx-background-color: white; */
  -fx-background-color: #f8f9fa;
  -fx-border-radius: 0 30 30 0;
  -fx-background-radius: 0 30 30 0;
  -fx-text-fill: white;
}

.btn {
  -fx-background-color: #fac400;
  -fx-color: white;
}

.btn:hover {
  -fx-background-color: rgb(250, 196, 0);
  -fx-effect: dropshadow(three-pass-box, rgba(250, 196, 0, 0.8), 10, 0, 0, 0);
}
.btn:pressed {
  -fx-text-fill: black;
}
