.table-view {
  -fx-background-color: white;
}

.table-view .column-header-background .filler {
  -fx-background-color: white;
}

.btn_add {
  -fx-background-color: "#fac400";
  -fx-text-fill: White;
}

.btn_mod {
  -fx-background-color: black;
  -fx-text-fill: White;
}
